<div id="subtitle">
    <!-- Subtitle and branding complete with branding-->
    <%= image_tag('cover')%>
    <div id="text">
        <a href="http://shenandoahliterary.org/">Shenandoah</a>: The Washington and Lee University Review<br> 
        <div id="dates">A comprehensive index: Vol. 1, no. 1 (spring 1950) - </div>
        <div id="issn">ISSN 0037-3683 (print)<br>
            ISSN 2332-8134 (online)
        </div>
        <div id="beta">Beta</div>
    </div>
<div class="clear"></div>
</div>

<div class="search">
  <%= form_tag root_path, :method => "get" do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
    <label for='choice'>Search by:</label>
    <% ['Author', 'Title'].each do |choice| %>
    <%= radio_button_tag 'choice', choice, @choice == choice%>
    <%= choice.humanize %>
    <% end %>
  <% end %>
</div>


<%= @my_variable %>

<!-- The space to embed the dynamic content. Currently being embedded via iframe stored as an ASPX file on the same server. This file is also pointing at the same CSS file as it linked here. -->
<div class="embed-div" id="search-div">
    <iframe name="search-frame" src="http://MData1.ad.wlu.edu/ShenandoahExplorerApp/Explore.aspx"></iframe>
    <script type="text/javascript">
        function resizeCB() {
            var p = $('iframe').parent();
            $('iframe').css('width', p.width()).css('height', p.height());
        }
        $(window).resize(resizeCB);
        resizeCB();
    </script>
</div>