<div id="contents">
    <!-- search bar -->
    <div class="col-md-3">
<!--     <%= @dates %>
 -->        <div class="search">
          <%= form_tag root_path, :method => "get", :id => 'search-bar' do %>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Search", :name => nil %>
            <div class="clear"></div>
            <label for='choice'>Search by:</label>
            <%= radio_button_tag 'choice', 'author', params[:choice] == 'author' || params[:choice] == nil %>
            <%= 'Author'.humanize %>
            <%= radio_button_tag 'choice', 'keyword', params[:choice] == 'keyword' %>
            <%= 'Keywords'.humanize %>
          <% end %>
        </div>

        <hr>
        <b>Browse by Issue:</b>
        <!-- date tree -->
        <div id='date_tree'>
            <table cellspacing="0" rules="all" border="1" id="IssueGridView">
                <tbody>
                <!-- format is <tr><td><a>decade/year/issues
                and they're all just listed one after the other, even if logically they are nested. so the first step is to just list all the dates. then make it so that they're all collapsed. then make it so clicking on the outer layer will expose the inner layers. -->
                <% for decade in @decades%>
                    <tr>
                        <td>
                        <!-- take current params, add decade to it, and create a url for the newl query  -->
                            <%= link_to(decade.to_s + 's', url_for(params.merge(:decade => decade.to_s)), class: "decade_link") %>
                        </td>
                        <% if params[:decade] != nil && params[:decade] == decade.to_s %>
                            <% for year in @years %>
                                <tr>
                                    <td>
                                        <%= link_to(year.to_s, url_for(params.merge(:year => year.to_s)), class: "year_link") %>
                                    </td>
                                </tr>
                                <% if params[:year] != nil && params[:year] == year.to_s %>
                                    <% for issue in @issues %>
                                        <tr>
                                            <td>
                                                <%= link_to("Vol. " + issue['Volume'].to_s + ", No. " + issue['Issue'].to_s + ", " + issue['Season'].to_s, url_for(params.merge(:issue_id => issue['ID'].to_s)), class: "issue_link") %>
                                            </td>
                                        </tr>
                                    <% end %>
                                <%end %>
                            <% end %>
                        <% end %>
                    </tr>
                <% end %>
                </tbody>
            </table>
        </div>
    </div>
    <!-- results -->
    <div class="col-md-9">
        <div id="issue_panel">
            <% if params.key?(:issue_id) %>
                <h3>
                    <%= "Vol. " + @issue['Volume'].to_s + ", No. " + @issue['Issue'].to_s + ", " + @issue['Season'].to_s %>
                </h3>
            <% elsif params.key?(:search) %>
                <%= @articles.length %> total search results. <%= link_to "clear search", root_path %>
            <% end %>
            <% if @articles != nil && (params.key?(:search) || params.key?(:issue_id)) %>
                <% @articles.each do |article| %>
                    <%#= article %>
                     <% if params.key?(:search) %>
                        <% @issue = single_issue(article['IssueID']) %>
                        <h3>
                            Vol. <%= @issue['Volume']%>, No. <%= @issue['Issue']%>, <%= @issue['Season']%>
                        </h3>
                    <% end %>
                    
                        <p class="metadata">
                        <% if article.key?('Title') %>
                            <%= article['Title'] %>
                            <br>
                        <% end %>

                        <% if article.key?('AuthorID') && !article['AuthorID'].empty? %>
                            Author: <%= single_author(article['AuthorID'][0]) %>
                            <br>
                        <% end %>

                        <% if (article.key?('EndPage') && article.key?('StartPage')) && article['EndPage'] != 0 %>
                            pp. <%= article['StartPage'].to_s + '-' + article['EndPage'].to_s %>
                            <br>
                        <% end %>

                        <% if !article['Genre'].empty? %>
                            Genre: <%= article['Genre'].to_set.to_a.to_sentence %>
                            <br>
                        <% end %>

                        <% if article.key?(:reviews) %>
                            Reviewed Works: <%= article[:reviews]%>
                            <br>
                        <% end %>

                        <% if article.key?(:comments) %>
                            Notes: <%= article[:comments]%>
                            <br>
                        <% end %>
                    </p>
                    <hr>
                <% end %>
            <% end %>
        </div>
    </div>
</div>