<div id="contents">
    <!-- search bar -->
    <div class="col-md-3">
        <div class="search">
          <%= form_tag root_path, :method => "get", :id => 'search-bar' do %>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Search", :name => nil %>
            <div class="clear"></div>
            <label for='choice'>Search by:</label>
            <%= radio_button_tag 'choice', 'author', params[:choice] == 'author' || params[:choice] == nil %>
            <%= 'Author'.humanize %>
            <%= radio_button_tag 'choice', 'keyword', params[:choice] == 'keyword' %>
            <%= 'Keyword or Phrase'.humanize %>
          <% end %>
        </div>

        <hr>
        <b>Browse by Issue:</b>
        <!-- date tree -->
        <div id='date_tree'>
            <table cellspacing="0" rules="all" border="1" id="IssueGridView" style="border-style:None;border-collapse:collapse;">
                <tbody>
                <!-- examples of decades -->
                    <tr>
                        <td style="border-style:None;">
                            <a id="IssueGridView_DecadeLinkButton_0" href="javascript:__doPostBack(&#39;IssueGridView$ctl02$DecadeLinkButton&#39;,&#39;&#39;)">1950s</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-style:None;">
                            <a id="IssueGridView_DecadeLinkButton_1" href="javascript:__doPostBack(&#39;IssueGridView$ctl03$DecadeLinkButton&#39;,&#39;&#39;)">1960s</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- results -->
    <div class="col-md-9">
        <div id="issue_panel">
            <% if @articles != nil && params.key?(:search) %>
                <%= @articles.length %> total search results. <%= link_to "clear search", root_path %>
                <% @articles.each do |article| %>
                    <h3>
                        Vol. <%= article[:volume]%>, No. <%= article[:issue]%>, <%= article[:date]%>
                    </h3>
                    <div class="article">

                        <% if article.key?(:title) %>
                            <%= article[:title] %>
                            <br>
                        <% end %>

                        <% if article.key?(:author) %>
                            Author: <%= article[:author] %>
                            <br>
                        <% end %>

                        <% if article.key?(:pages) && article[:pages] != '-' %>
                            pp. <%= article[:pages]%><%puts article[:pages]%>
                            <br>
                        <% end %>

                        <% if article.key?(:genre) %>
                            Genre: <%= article[:genre]%>
                            <br>
                        <% end %>

                        <% if article.key?(:reviews) %>
                            Reviewed Works: <%= article[:reviews]%>
                            <br>
                        <% end %>

                        <% if article.key?(:comments) %>
                            Notes: <%= article[:comments]%>
                            <br>
                        <% end %>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
</div>