
<!-- search bar -->

<div id="search">
    <%= form_tag root_path, :method => "get", :id => 'search-bar' do %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil, :id => 'search_button' %>
        <div class="clear"></div>
        <label for='choice'>Search by:</label>
        <%= radio_button_tag 'choice', 'author', params[:choice] == 'author' || params[:choice] == nil %>
        <%= 'Author'.humanize %>
        <%= radio_button_tag 'choice', 'keyword', params[:choice] == 'keyword' %>
        <%= 'Keywords'.humanize %>
    <% end %>
</div>
<% if params.key?(:search) && !params.key?(:issue_id) %>
    <!-- if no issue_id, we're not browsing. if search params exist, we're searching. so show the results of the search -->
        <%= @results_length %> total search results for "<%= params[:search] %>". <br>
        <%= link_to "Clear Search", root_path %>
<% else %>
    <%= "Browsing Vol. " + @issue['Volume'].to_s + ", No. " + @issue['Issue'].to_s + ", " + @issue['Season'].to_s + " " + @issue['Year'].to_s %> <br>
    <%= link_to "Clear", root_path %>
<% end %>
<hr>
